/*All Elements*/
body{
    color: white;
    background-color:hsl(213, 16%, 11%);
}

@font-face {
    font-family: [Overpass];
    src: url(https://fonts.google.com/specimen/Overpass);
  }

#all{
    display: block;
    background-color:hsl(213, 19%, 18%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20rem;
    width: 18%;
    border-radius: 1.34rem;
    padding: 2rem;
}
#star{
    border-radius: 100px;
    background-color:hsl(222, 26%, 17%);
    padding:.8rem;
}
/*Text h1 and paragraph*/
#text{
}
h1{
    margin-bottom: 0.313rem;
}
p{
    margin-top: 0.625rem;
    font-size: 0.938rem;
    color: hsl(217, 12%, 63%);
 }
/*Buttons*/
form{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    padding-bottom: 1.5rem;
}
.buttons{
    color: hsl(216, 12%, 54%);
    background-color: hsl(222, 26%, 17%); /* Green */
    border: none;
    border-radius: 6rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 15px;
    margin: .5rem;
    
 }
 .buttons:hover{
     background: hsl(36, 100%, 46%);
     color: white;
 }
 .buttons:target{
    background: hsl(36, 100%, 46%);
 }
 /*.buttons:active{
    background:hsl(36, 20%, 56%);
  } */

/*Submit button*/
forms1{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    padding-bottom: 1.5rem;
 }
 #submit{
   flex-grow: 3;
    flex-shrink: 3;
    color: hsl(36, 100%, 46%);
    background-color:white;
    border: none;
    border-radius: 5rem;
    text-align: center;
    font-size: .7rem;
    letter-spacing: .15rem;
    font-weight: bold;
    width: clamp(10rem, 22rem, 22rem);
    min-height: 2rem;
 }
 #submit:hover{
    background: hsl(39, 100%, 46%);
    color: white;
 }


 /*padding-left: 12rem;
    padding-right: 12rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    
     @ media
    */