/*All Elements*/
*{
    color: white;
    background-color:hsl(213, 19%, 18%);
}
#all{
    background-color:hsl(213, 19%, 18%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20rem;
    width: 25%;
}
